<p>This is Layout[Home Page]</p>
<h1>Hello Ganeshaa!!!</h1>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <!-- <li class="nav-item" style="margin-top:-12px;">//this rla is optional i.e we can use "active-link" for css styling
            <a class="nav-link" routerLink="/category/1" rooterLinkActive="active-link">Product</a>
          </li> -->
          <li class="nav-item" style="margin-top:-12px;">
            <a class="nav-link" routerLink="add-emp">AddEmployee</a>
          </li>
          <li class="nav-item" style="margin-top:-12px;">
            <a class="nav-link" routerLink="data-bin">DataBinding</a>
          </li>
          <li class="nav-item" style="margin-top:-12px;">
            <a class="nav-link" routerLink="employee-list">EmployeeList</a>
          </li>
          <li class="nav-item" style="margin-top:-12px;">
            <a class="nav-link" routerLink="layout"></a>
          </li>
          <li class="nav-item dropdown" style="margin-top: -12px;">
            <a 
                class="nav-link dropdown-toggle" 
                href="#" 
                role="button" 
                data-bs-toggle="dropdown" 
                aria-expanded="false">
                Directives
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="structural-dir">StructuralDirective</a></li>
                <li><a class="dropdown-item" routerLink="attribute-dir">AttributeDirective</a></li>
                <li><a class="dropdown-item" routerLink="ngTemplate">ngTemplate</a></li>
                <li><a class="dropdown-item" routerLink="ngContainer">ngContainer</a></li>
            </ul>
        </li>
          <li class="nav-item dropdown" style="margin-top: -12px;">
            <a 
                class="nav-link dropdown-toggle" 
                href="#" 
                role="button" 
                data-bs-toggle="dropdown" 
                aria-expanded="false">
                LoopIteration
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="if-else">IfElse</a></li>
                <li><a class="dropdown-item" routerLink="for">For</a></li>
                <li><a class="dropdown-item" routerLink="viewChild">ViewChild</a></li>
            </ul>
        </li>
          <li class="nav-item" style="margin-top:-12px;">
            <a class="nav-link" routerLink="pipe">Pipe</a>
          </li>
          <li class="nav-item dropdown" style="margin-top: -12px;">
            <a 
                class="nav-link dropdown-toggle" 
                href="#" 
                role="button" 
                data-bs-toggle="dropdown" 
                aria-expanded="false">
                Forms
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="template">Template</a></li>
                <li><a class="dropdown-item" routerLink="reactive">Reactive</a></li>
            </ul>
        </li>
          <li class="nav-item dropdown" style="margin-top: -12px;">
            <a 
                class="nav-link dropdown-toggle" 
                href="#" 
                role="button" 
                data-bs-toggle="dropdown" 
                aria-expanded="false">
                apiIntegration
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="get">GET</a></li>
                <li><a class="dropdown-item" routerLink="post">POST</a></li>
                <li><a class="dropdown-item" routerLink="put">PUT</a></li>
                <li><a class="dropdown-item" routerLink="delete">DELETE</a></li>
            </ul>
        </li>
        <li class="nav-item" style="margin-top:-12px;">
          <a class="nav-link" routerLink="lifecycleEvent">LifecycleEvent</a>
        </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-primary" type="button">LogOut</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>